body{
    background-image: url(../_imagem/goku.png);
    background-color: indigo;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%;
    
}

h1{
    color: goldenrod;
    text-align: center;
    background-color: darkmagenta;
    border-radius: 10px;
    border-style: dotted;
    font-family: cursive;
} 
 
fieldset{
    color: white;
    border-color: gold;
}

#dados{
    border-radius: 5px;
    width: 1200px;
    height: 25px;
}

#observacoes{
    resize: none;
}

#raca{
    width: 40%;
}

#planet{
    width: 40%;
}